{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ first_name }}!</h1>
    <p>This is your dashboard.</p>

    <form action="/send_money" method="POST">
        <label for="from_country">Sending From:</label>
        <select name="from_country" id="from_country">
            <option value="Sweden">Sweden</option>
        </select>

        <label for="to_country">Sending To:</label>
        <select name="to_country" id="to_country">
            <option value="Somalia">Somalia</option>
        </select>

        <input type="submit" value="Send Money">
    </form>
{% endblock %}
